<div class="topcoat-navigation-bar">
  <div class="topcoat-navigation-bar__item left quarter">

  </div>
  <div class="topcoat-navigation-bar__item center  half">
    <h2 class="topcoat-navigation-bar__title">O APLIKACIJI</h1>
  </div>
  <div class="topcoat-navigation-bar__item right quarter">
    <a class="topcoat-button--cta" ng-click="doTheBack()">Zapri</a>
  </div>
</div>
<div class="pad">
  <div>
    <p>Aplikacija je nastala v sklopu projekta “Razvoj mobilnega komunikatorja za lažje sporazumevanje”, po idejni
      zasnovi Osnovne šole Milke Šobar - Nataše iz Črnomlja.</p>
    <p>Razvijalec: <a href="https://www.linkedin.com/in/damjan-dvorsek/">Damjan Dvoršek</a></p>
    <p>Ikone: <a href="https://mulberrysymbols.org/">Mulberry Symbols</a></p>
    <p>Glas: <a href="https://www.youtube.com/channel/UCYZtjTKlCmUhNbIUKy0V_Kg">Blaž Učakar</a></p>
    <p>Oblikovanje in predelava ikon: Nuša Gruden, Anja Gruden, Blaž Učakar</p>
    <p><a href="https://github.com/wideblue/let-me-speak">Več na GitHub-u</a></p>
  </div>
</div>