<!-- <div class="topcoat-navigation-bar" ng-show="false" >
	<div class="topcoat-navigation-bar__item left quarter">
     
    </div>
    <div class="topcoat-navigation-bar__item center  half">
      <h2 class="topcoat-navigation-bar__title">TIPKOVNICA</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
      <a class="topcoat-button--cta" ng-click="">Zapri</a>
    </div>
</div> -->
 <div class=" centralize pad">
 
 <textarea ngd-focus="true" ngd-focus-lost="doTheBack()" ngd-on-focus="hideNavigationBar()" class="topcoat-textarea" rows="4" placeholder="Napiši besedilo"></textarea>   
</div> 
